<form [formGroup]="expenseData" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="description">Opis</label>
    <input type="text" class="form-control" id="description"
           formControlName="description" placeholder="Podaj opis wydatku.">

    <label for="amount">Kwota</label>

    <input class="form-control" type="number" step="0.01" value="" id="amount"
           formControlName="amount" placeholder="Podaj kwote w złotych">

    <label for="date">Data</label>
    <input type="date" class="form-control" id="date" formControlName="date">

    <label for="category">Kategoria</label>
    <div class="form-group">
      <select class="custom-select" id="category" formControlName="categoryId">
        <option *ngFor="let c of allCategories$ | async" value="{{c.id}}">{{c.name}}</option>
      </select>

    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!expenseData.valid">Submit</button>
  </div>
</form>

